$gradient: linear-gradient(to bottom, #191d1f, #4e535e);
$gradient_example: linear-gradient(313deg, #2d3038 59%, #191d1f);
$mainColor: #2d3038;
$columnColor: #383e44;
$fontColor: #d6d7dd;
$labelColor: #666a6e;
$baseColor: #F2F2F2;
$input_grid_color: #383e44;


$artColor: #0014ff;
$workColor:#09ba87 ;
$projectcolor:#ff0dbf ;
$contactColor:#ffc900 ;