@import '../../utilities/variablesStyle.scss';

@mixin button-style{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    border:none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // background-color: #FFF;
}

.button-container{
    width: 90%;
    height: 50vh;
    margin: 0 auto;

    .button-wrapper{
        position: relative;
        height: 50vh;
        
        .button-element{
            @include button-style;
            box-shadow: 28px 28px 50px rgba(13, 39, 80, .16), -23px -23px 45px #FFFFFF;

        }   
        .button-element-active{
            @include button-style;
            box-shadow:28px 28px 50px rgba(13, 39, 80, .16), -23px -23px 45px #FFFFFF, inset -31px -31px 43px rgba(255,255,255, .64),inset 26px 26px 48px rgba(13, 39, 80, .16) ;       
        }
    }
}