@use "../../utilities/variablesStyle.scss" as c;
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@mixin center-img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 20%);
}

@mixin buttons-shadow {
    background: linear-gradient(145deg, #ffffff, #dadada);
 box-shadow: 4px 5px 16px 3px #c9c9c9, -1px 1px 9px 5px #ffffff;
}

@mixin icon-invert {
    img {
        filter: invert(100%);
    }
}

@mixin controllerimg {
    cursor: pointer;
    .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 5rem;
        height: 5rem;
        border-radius: 150px;
        @include buttons-shadow;
        position: relative;

        img {
            @include center-img;
            width: 70%;
        }
    }
    .active-art {
        background: c.$artColor;
        @include icon-invert;
    }
    .active-work {
        background: c.$workColor;

        @include icon-invert;
    }
    .active-project {
        background: c.$projectcolor;

        @include icon-invert;
    }
    .active-contact {
        background: c.$contactColor;

        @include icon-invert;
    }
}

@mixin controllerimg-mobile {
    cursor: pointer;
        justify-self:right;
        .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 3rem;
        height: 3rem;
    }
}

@mixin controllerimg-tablet {
        cursor: pointer;
        // justify-self:right;

        .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 4rem;
        height: 4rem;
    }
}

@mixin display-shadow {
    background: linear-gradient(145deg, #ffffff, #dadada);
     box-shadow: 5px 6px 20px 1px #c9c9c9, -1px -6px 84px #ffffff;
}

.controller-carusel {
    grid-area: 3/3 / 9/5;
    width: 30rem;
    height: 30rem;
    // border-radius: 50%;
    @include display-shadow;
    position: relative;

    img {
        position: absolute;
        left: 49.5%;
        right: 50%;
        transform: translate(-49.5%, 1.4%);
        width: 98%;
        // border-radius: 50%;
    }
}


.controller-carusel-description {
    grid-area: 7/2 / 8/3;
    width: 100%;
    max-width:125px;
    justify-self: end;

    .controller-carusel-description-container {
        position: relative;

        span {
            position: absolute;
            padding: 0.5rem;
        border: 4px solid;
        width: 90%;
        max-width:125px;
            left: 50%;
            transform: translate(-50%, 25%);
            font-size: 1.5rem;
            text-align: center;
            font-family: "Caveat", cursive;
        }
    }
}

.controller-dark-theme {
    grid-area: 10/1 / 10/2;
}
.controller-remote-buttons-item1 {
    grid-area: 2/2 / 3/3;
    @include controllerimg;
    justify-self:left;
}
.controller-remote-buttons-item2 {
    grid-area: 3/1 / 4/2;
    @include controllerimg;
    justify-self:right;
}
.controller-remote-buttons-item3 {
    grid-area: 4/1 / 5/3;
    @include controllerimg;
}
.controller-remote-buttons-item4 {
    grid-area: 5/1 / 6/2;
    @include controllerimg;
    justify-self:right;
}


@media only screen and (max-width: 1050px) {
    .controller-carusel-description {
grid-area: 8/2/8/3;
    // justify-self:left;
    }
.controller-carusel {
    grid-area: 3/3/8/5;
        box-shadow: 13px 11px 20px 0px #c9c9c9, -4px -4px 20px 4px #ffffff;
}
    .controller-dark-theme {
        grid-area: 10/1/10/3;
        padding-bottom:1rem;
        justify-self:center;
    }
    
    .controller-remote-buttons-item1 {
        grid-area: 2/2 / 3/2;
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item2 {
        grid-area: 3/1 / 4/2;
        @include controllerimg-tablet;
            // padding-right: 1.5rem;
    }
    .controller-remote-buttons-item3 {
        grid-area: 4/2 / 5/2;
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item4 {
        grid-area: 5/1 / 6/2;
        @include controllerimg-tablet;
            // padding-right: 1.5rem;
    }
        
}
@media only screen and (max-width: 600px) {
    

    .controller-carusel-description {
        grid-area: 9/2 / 9/3;
        width: 50%;
        height: 50%;
        justify-self: right;

        .controller-carusel-description-container{

            span {
    min-width:80px;
                transform: translate(-50%, 6%);
            }
        }
    }
        
    .controller-carusel {
        grid-area: 3/2/9/5;
        width: 17rem;
    height: 17rem;
        box-shadow: 8px 3px 10px 1px #c9c9c9, -7px -7px 20px #ffffff;
            align-self: center;
    }
    .controller-dark-theme {
        grid-area: 10/1/10/3;
        padding-bottom:1rem;
    }
    .controller-remote-buttons-item1 {
        grid-area: 2/1 / 3/2;
        @include controllerimg-mobile;
    }
    .controller-remote-buttons-item2 {
        grid-area: 3/1 / 4/2;
        @include controllerimg-mobile;
            padding-right: 1.5rem;
    }
    .controller-remote-buttons-item3 {
        grid-area: 4/1 / 5/2;
        @include controllerimg-mobile;
    }
    .controller-remote-buttons-item4 {
        grid-area: 5/1 / 6/2;
        @include controllerimg-mobile;
            padding-right: 1.5rem;
    }
}




