@use "./utilities/variablesStyle.scss" as c;

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@mixin center-img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 20%);
}

@mixin buttons-shadow {
    background: linear-gradient(145deg, #ffffff, #dadada);
 box-shadow: 4px 5px 16px 3px #c9c9c9, -1px 1px 9px 5px #ffffff;
}

@mixin icon-invert {
    img {
        filter: invert(100%);
    }
}

@mixin controllerimg {
    cursor: pointer;
    .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 3rem;
        height: 3rem;
        border-radius: 150px;
        @include buttons-shadow;
        position: relative;

        img {
            @include center-img;
            width: 70%;
        }
    }
    .active-art {
        background: c.$artColor;
        @include icon-invert;
    }
    .active-work {
        background: c.$workColor;

        @include icon-invert;
    }
    .active-project {
        background: c.$projectcolor;

        @include icon-invert;
    }
    .active-contact {
        background: c.$contactColor;

        @include icon-invert;
    }
}

@mixin controllerimg-mobile {
    cursor: pointer;
        justify-self:right;
        .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 3rem;
        height: 3rem;
    }
}

@mixin controllerimg-tablet {
        cursor: pointer;
        // justify-self:right;

        .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 4rem;
        height: 4rem;
    }
}
@mixin controllerimg-desktop {
        .controller-remote-buttons-img {
        width: 5rem;
        height: 5rem;
    }
}
@mixin display-shadow {
    background: linear-gradient(145deg, #ffffff, #dadada);
     box-shadow: 5px 6px 20px 1px #c9c9c9, -1px -6px 84px #ffffff;
}


* {
    margin: 0;
    padding: 0;
}
body {
    background-color: c.$baseColor;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 12px;
}

.App {
    display: flex;
    flex-wrap:wrap;
    height: 100vh;
    overflow: hidden;
    gap: 2rem;
    max-width: 700px;
    margin: 14px auto;  
    max-width: 400px;
}


// .controller-remote-buttons-item1 {
//     width: 100%;
//     @include controllerimg;
//     justify-self:left;
// }
// .controller-remote-buttons-item2 {
//     position: relative;
//     width: 100%;
//     @include controllerimg;
//     justify-self:right;
// }
// .controller-remote-buttons-item3 {
    
//     @include controllerimg;
// }
// .controller-remote-buttons-item4 {
    
//     @include controllerimg;
//     justify-self:right;
// }

.controller-remote-buttons-item1 {
    width: 100%;
    height: 1%;
    left: 2%;

    @include controllerimg-mobile;
    .controller-remote-buttons-img {
        // border: 1px solid black;
        width: 3rem;
        height: 3rem;
        border-radius: 150px;
        @include buttons-shadow;
        position: absolute;
        

        img {
            @include center-img;
            width: 70%;
        }
    }
    .active-art {
        background: c.$artColor;
        @include icon-invert;
    }
    .active-work {
        background: c.$workColor;

        @include icon-invert;
    }
    .active-project {
        background: c.$projectcolor;

        @include icon-invert;
    }
    .active-contact {
        background: c.$contactColor;

        @include icon-invert;
    }
    position:relative;
}
.controller-remote-buttons-item2 {
    position: relative;
    width: 100%;
    height: 1%;
    left: 7%;
    @include controllerimg-mobile;
    @include controllerimg;
}
.controller-remote-buttons-item3 {
    
    @include controllerimg-mobile;
    @include controllerimg;
    width: 100%;
    height: 1%;
    left: 2%;
    position: relative;
}
.controller-remote-buttons-item4 {
    
    @include controllerimg-mobile;
    @include controllerimg;
    width: 100%;
    height: 1%;
    left: 7%;
    position:relative;
}

.controller-carusel-description {
    
    width: 100%;
    height: 9%;
    position:relative;

    .controller-carusel-description-container {
        position: relative;
        span {
            position: absolute;
            border: 4px solid;
            width: 90%;
            max-width: 89px;
            left: 38%;
            transform: translate(-50%, 25%);
            font-size: 1.5rem;
            text-align: center;
            font-family: "Caveat", cursive;
        }
    }
}

.controller-carusel {
    width: 17rem;
    height: 17rem;
    box-shadow: 8px 3px 10px 1px #c9c9c9, -7px -7px 20px #ffffff;
    align-self: center;
    position: absolute;
    right: 5%;
    margin-top: 10%;

    img {
        position: absolute;
        left: 49.5%;
        right: 50%;
        transform: translate(-49.5%, 1.4%);
        width: 98%;
        // border-radius: 50%;
    }
}


.controller-dark-theme {
    padding-bottom:1rem;
    width: 50%;  
}
.controller-remote-grid{
    width: 10rem;
    height: 10rem;
}
// .controller-carusel {
//     width: 30rem;
//     height: 30rem;
//     right: 5%;;
//     @include display-shadow;
//     position: absolute;

//     img {
//         position: absolute;
//         left: 49.5%;
//         right: 50%;
//         transform: translate(-49.5%, 1.4%);
//         width: 98%;
//         // border-radius: 50%;
//     }
// }



@media only screen and (min-width: 900px) {
    .App{
        max-width: 700px;
    }
    .controller-carusel {
        width: 25rem;
        height: 25rem;
        box-shadow: 7px 11px 16px 0px #c9c9c9, -4px -4px 20px 4px #ffffff;
    }
    
    .controller-remote-buttons-item1 {
        
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item2 {
        left: 15%;
        @include controllerimg-tablet;
            // padding-right: 1.5rem;
    }
    .controller-remote-buttons-item3 {
        
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item4 {
        left: 15%;
        @include controllerimg-tablet;
            // padding-right: 1.5rem;
    }


    .controller-carusel-description {
        

        .controller-carusel-description-container {

            span {
                max-width: 178px;
                left: 54%;
                font-size: 2.5rem;
                padding: 0.5rem;

            }
        }
    }
        
}



@media only screen and (min-width: 600px) {

    .App{
        gap:0.8rem;
        max-width: 600px;
    }

    .controller-carusel {
        width: 22rem;
        height: 22rem;
    }
    .controller-remote-buttons-item1 {
        
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item2 {
        left: 15%;
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item3 {
        
        @include controllerimg-tablet;
    }
    .controller-remote-buttons-item4 {
        left: 15%;
        @include controllerimg-tablet;
    }

    .controller-dark-theme {
        padding-bottom:0rem;
        width: 50%;

        .controller-remote-grid{
            width: 15rem;
            height: 15rem;
        }
    }


    .controller-carusel-description {
        

        .controller-carusel-description-container {

            span {
                max-width: 136px;
                padding: 0.5rem;
                left: 51%;
                transform: translate(-50%, 0%);
                font-size: 2rem;

            }
        }
    }

}


@media only screen
    and (max-width: 600px)
    and (min-height: 700px) {

    .controller-dark-theme {
        padding-bottom:1rem;
        width: 100%;  
    }
    .controller-remote-grid{
        width: 15rem;
        height: 15rem;
    }
}



@media only screen and (min-width: 1400px) {
    .App{
        gap:0.8rem;
        max-width: 900px;
    }

    .controller-carusel {
        width: 30rem;
        height: 30rem;

        margin-top: 4%;

    }
    .controller-remote-buttons-item1 {
        
        @include controllerimg-desktop;
    }
    .controller-remote-buttons-item2 {
        left: 15%;
        @include controllerimg-desktop;
    }
    .controller-remote-buttons-item3 {
        
        @include controllerimg-desktop;
    }
    .controller-remote-buttons-item4 {
        left: 15%;
        @include controllerimg-desktop;
    }
    .controller-carusel-description {
        

        .controller-carusel-description-container {

            span {
                left: 53%;
                transform: translate(-50%, 138%);

            }
        }
    }
}