@use "./utilities/variablesStyle.scss" as c;

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: c.$baseColor;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 12px;
}

.App {
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(5, 1fr);
    height: 100vh;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    gap: 2rem;

  
}



@media only screen and (max-width: 600px) {
    .App {
        gap: 1rem;
    grid-template: repeat(11, 1fr) / repeat(4, 1fr);
        margin-left: 0;
    }

}
@media only screen and (max-width: 1050px) {

.App{
    gap:0.8rem;
  }
}