$dark_blue: #114c85;
$dark_green: #2C9B76;
$dark_blue2: #000E43;
$dark_purple: #51278C;
$dark_red: #560201;

$light_blue: #17a4f0;
$light_blue2: #53bcfd;
$light_green: #30D29B;
$light_green2: #B7eee3;
$light_purple: #cb5feb;
$light_red: #f8372f;
$light_red2: #df231d;
$light_yellow: #F2B807;

// DARK THEME
$dark_gray: #2E4559;
$dark_blue:#144E73;
$black_1:#eff0f1;
$black_2:#162226;
$light_blue:#1F8DA6;
$light_blue2:#8FCBD9;
$black_shadow: #9BAEBF;



// LIGHT THEME 

$dark_gray: #3D5473;
$dark_blue:#022873;
$white_1:#0A1C26;
$light_blue: #6387A6;
$light_red:#BF0404;


// DESKTOP

// Sidebar
$font_dsk_title: 0.7rem;
$font_dsk_sidebar_title: 1rem;

// Img span
$img_left_sidebar: 11%;
$title_sidebar: 40%;